* {
  font-family: Helvetica, sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
}

/* Navigation Bar */
nav {
  background-color: #f1f3ff;
}

nav .navigasi a:hover {
  font-weight: bold;
}

nav .navigasi a {
  color: #000;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  margin-right: 12px;
}

nav .navigasi button {
  color: #fff;
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  padding: 8px 12px;
  border-radius: 3px;
  background-color: #5cb85f;
  border: none;
}

nav button:hover {
  background-color: rgb(6, 148, 6);
}

nav .navigasi {
  margin-top: 8px;
}
/* end of navigation bar */

/* Main/Hero section */
#hero {
  background-color: #f1f3ff;
  height: 100vh;
  position: relative;
}

#hero .col {
  position: relative;
  top: 170px;
  left: 0;
}

#hero h1 {
  font-weight: 700;
  font-size: 36px;
  width: 568px;
  height: 108px;
  line-height: 54px;
}

#hero p {
  font-weight: 300;
  font-size: 14px;
  line-height: 20px;
  width: 468px;
  height: 60px;
}

#hero button {
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  color: #fff;
  border: none;
  border-radius: 3px;
  padding: 8px 12px;
  background-color: #5cb85f;
}

#hero button:hover {
  background-color: rgb(6, 148, 6);
}

#hero .bg {
  position: absolute;
  bottom: 0;
  right: 0;
}

#hero .mobil {
  position: absolute;
  bottom: 0;
  right: 0;
}
/* End of Main/Hero section */

/* Our Service Section */

/* Service */
#service .col {
  display: flex;
  margin-top: 130px;
}

#service .col .content--service {
  margin-left: 100px;
}

#service .col h2 {
  font-weight: 700;
  font-size: 24px;
  line-height: 36px;
  margin-left: 30px;
}

#service .col p {
  font-weight: 300;
  font-size: 14px;
  line-height: 20px;
  margin-left: 30px;
}

#service .col ul {
  list-style-type: none;
}

#service .col ul li {
  font-weight: 300;
  font-size: 14px;
  line-height: 20px;
  margin-bottom: 20px;
}

#service .col ul li img {
  margin-right: 8px;
}
/* End of Our Navigation Section*/

/* Why Us Section */

#homepage .col {
  margin-top: 130px;
}

#homepage .col h3 {
  font-weight: 700;
  font-size: 24px;
  line-height: 36px;
}

#homepage .col p {
  font-weight: 300;
  font-size: 14px;
  line-height: 20px;
}

#homepage .card-homepage {
  display: flex;
}

#homepage section.card-homepage {
  justify-content: space-between;
}

#homepage .card--all--homepage {
  padding: 10px;
  margin-top: 30px;
  width: 260px;
}

#homepage .card--all--homepage img {
  width: 32px;
  height: 32px;
  margin-left: 12px;
  margin-top: 12px;
}

#homepage .card--all--homepage h5 {
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
}

#homepage .card--all--homepage p {
  font-weight: 300;
  font-size: 14px;
  line-height: 20px;
}
/* End of Why Us Section */

/* Testimonial Section */
/* Head */
#testimonial .header--testimonial {
  text-align: center;
  margin-top: 120px;
}

#testimonial .header--testimonial h3 {
  font-weight: 700;
  font-size: 24px;
  line-height: 36px;
}

#testimonial .header--testimonial p {
  font-weight: 300;
  font-size: 14px;
  line-height: 20px;
}

/* Carousel */
#testimonial .owl-carousel .item1,
.item2,
.item3,
.item4 {
  display: flex;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.15);
  border-radius: 8px;
  width: 90%;
  padding: 32px;
  margin: 40px;
  background-color: #f1f3ff;
}

#testimonial .owl-carousel .item1 .foto img,
#testimonial .owl-carousel .item2 .foto img,
#testimonial .owl-carousel .item3 .foto img,
#testimonial .owl-carousel .item4 .foto img {
  width: 80px;
  height: 80px;
  position: relative;
  top: 50px;
  margin-right: 35px;
  margin-left: 15px;
}

#testimonial .owl-carousel .content-carousel p {
  font-weight: 300;
  font-size: 14px;
  line-height: 20px;
}

#testimonial .owl-carousel .content-carousel h5 {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  margin-top: 5px;
}

#testimonial .owl-carousel .item1 .content-carousel img,
#testimonial .owl-carousel .item2 .content-carousel img,
#testimonial .owl-carousel .item3 .content-carousel img,
#testimonial .owl-carousel .item4 .content-carousel img {
  width: 80px;
  height: 16px;
  margin-bottom: 10px;
  margin-top: 20px;
}
/* End of Testimonial Section */

/* Getting Started Section */
#getting-starter .card-body h3 {
  font-weight: 700;
  font-size: 36px;
  line-height: 150%;
  margin-top: 30px;
  margin-bottom: 16px;
}

#getting-starter .card-body p {
  font-weight: 300;
  font-size: 14px;
  line-height: 20px;
  margin-bottom: 52px;
}

#getting-starter .card {
  background-color: #0d28a6;
  color: #fff;
  border-radius: 13px;
  margin-top: 120px;
  width: 100%;
}

#getting-starter .card button {
  color: #fff;
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  padding: 8px 12px;
  border-radius: 3px;
  background-color: #5cb85f;
  border: none;
  margin-bottom: 30px;
}

#getting-starter button:hover {
  background-color: rgb(6, 148, 6);
}
/* End of Getting Started Section */

/* Frequently Asked Question Section */
#question-section .col {
  margin-top: 120px;
}

#question-section .accordion {
  margin-top: 60px;
}

#question-section .col h3 {
  font-weight: 700;
  font-size: 24px;
  line-height: 36px;
}

#question-section .col p {
  font-weight: 300;
  font-size: 14px;
  line-height: 20px;
}

#question-section .accordion .accordion-item {
  border-radius: 4px;
  border: 1px solid #d4d4d4;
}
#question-section .accordion .show .accordion-body p {
  font-weight: 300;
  font-size: 14px;
  line-height: 20px;
}

#question-section .row .accordion {
  width: 75%;
  float: right;
  margin-left: -100px;
}
/* End of Frequently Asked Question Section  */

/* Footer */
footer {
  margin-bottom: 70px;
}
footer .container {
  display: flex;
  justify-content: flex-start;
  margin-top: 130px;
}

footer .container h6 {
  font-weight: 300;
  font-size: 14px;
  line-height: 20px;
  margin-bottom: 12px;
}

.connection__footer {
  margin-left: 120px;
  margin-right: 120px;
}

.connection__footer p {
  display: inline-flex;
  justify-content: space-between;
}

.information__footer {
  margin-right: 90px;
}

.feature__footer ul li {
  list-style: none;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  margin-bottom: 15px;
}
/* End point footer */

/* Breakpoint */
@media screen and (max-width: 1200px) {
  #hero .col {
    position: relative;
    left: 0;
    top: 60px;
  }

  #hero .bg,
  #hero .mobil {
    width: 60%;
  }
}

@media screen and (max-width: 992px) {
  #service .col {
    flex-wrap: wrap;
  }

  #service .col .gambar img {
    width: 100%;
  }

  #service .col .content--service {
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
  }

  #homepage .col h3,
  #homepage .col p {
    text-align: center;
  }

  #homepage .row .card-homepage {
    flex-wrap: wrap;
    flex-direction: column;
  }

  #homepage .row .card-homepage .card {
    margin-right: auto;
    margin-left: auto;
    width: 100%;
  }

  #testimonial .owl-carousel .item1,
  .item2,
  .item3,
  .item4 {
    width: auto;
  }

  footer .container {
    flex-wrap: wrap;
    flex-direction: column;
  }

  footer .connection__footer p {
    margin-right: 10px;
  }

  footer .feature__footer ul li {
    margin-top: 15px;
    margin-left: -32px;
  }
  footer .connection__footer {
    margin-left: -3px;
    margin-top: 15px;
    margin-bottom: 15px;
  }
}

@media screen and (max-width: 768px) {
  #hero .mobil,
  #hero .bg {
    width: 65%;
  }

  #question-section .container .col {
    width: 100%;
    text-align: center;
  }

  #question-section .row .accordion {
    float: none;
    margin-left: 0;
    width: 100%;
    margin-top: 10px;
  }
}

@media screen and (max-width: 576px) {
  #hero .col {
    position: relative;
    top: 30px;
  }
  #hero h1,
  #hero p {
    width: 85%;
    margin-bottom: 30px;
  }

  #hero h1 {
    margin-bottom: 55px;
  }

  #hero .mobil,
  #hero .bg {
    width: 75%;
  }

  #testimonial .owl-carousel .item1,
  .item2,
  .item3,
  .item4 {
    justify-content: center;
    flex-wrap: wrap;
    width: auto;
  }

  #testimonial .owl-carousel .item1 .content-carousel img,
  #testimonial .owl-carousel .item2 .content-carousel img,
  #testimonial .owl-carousel .item3 .content-carousel img,
  #testimonial .owl-carousel .item4 .content-carousel img {
    margin-left: auto;
    margin-right: auto;
  }

  #testimonial .owl-carousel .item1 img,
  #testimonial .owl-carousel .item2 img,
  #testimonial .owl-carousel .item3 img,
  #testimonial .owl-carousel .item4 img {
    margin-bottom: 60px;
    margin-left: 21px;
  }

  #getting-starter .card h3 {
    font-weight: 700;
    font-size: 24px;
    line-height: 36px;
  }
}

@media screen and (max-width: 465px) {
  #hero h1 {
    font-size: 28px;
    line-height: 30px;
    width: 80%;
    margin-bottom: 5px;
  }

  #hero p {
    margin-bottom: 30px;
    font-size: 12px;
    width: 100%;
  }

  #hero .mobil,
  #hero .bg {
    width: 90%;
  }

  #service .col .gambar img {
    width: 80%;
    margin-left: 25px;
  }
}

@media screen and (max-width: 366px) {
  #hero h1 {
    margin-bottom: 30px;
  }
}
/* End of breakpoint */
